<h1>This is comic book is on sale:</h1>

<ul>
  <% @comic_book.attributes.each do |attr| %>
    <li><%= attr %></li>
  <% end %>
</ul>

<%= link_to "Delete #{@comic_book.name}",
            comic_book_path(@comic_book),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
