<section>
  <div class="banner container">
    <div class="banner-content">
      <p>Search for a Comic Book:</p>
      <label for="search" class="visuallyhidden">Search Comic Books</label>
      <input type="search" id="search" label="Search for Comic Books">
      <button type="submit">Search</button>
    </div>
  </div>
</section>
